@tailwind base;
@tailwind component;
@tailwind utilities;

body {
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  .font-dm-serif-text {
    font-family: 'DM Serif Text', serif;
}

}
